/// Color helpers

@import "math";

// calculate luminance of a color
@function colorLuminance($color) {
  $color-rgb: ('red': red($color), 'green': green($color), 'blue': blue($color));

  @each $name, $value in $color-rgb {
    $adjusted: 0;
    $value: $value / 255;

    @if $value < 0.03928 {
      $value: $value / 12.92;
    }
    @else {
      $value: ($value + 0.055) / 1.055;
      $value: $value * $value;
    }

    $color-rgb: map-merge($color-rgb, ($name: $value));
  }

  @return (map-get($color-rgb, 'red') * .2126) + (map-get($color-rgb, 'green') * .7152) + (map-get($color-rgb, 'blue') * .0722);
}

// create the visually readable invert of a color
@function colorInvert($color) {
  @if colorLuminance($color) > 0.33 {
    @return saturate(darken($color, 50%), 10%);
  }
  @else {
    @return #fff;
  }
}
