include ../util/__util

block variables
  - var assetPath = '/';
  - var title = 'Economists for Future';
  - var pageClass = '';

doctype html
html(lang='de')
  head
    title= title
    link(rel='stylesheet' href=assetPath+'css/style.css')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

  body.page(class=pageClass)
    nav.page-nav
      a.page-nav__logo
        img

      ul.page-nav__list
        li.page-nav__item
          a.page-nav__link(href='#open-letter') Open Letter
        li.page-nav__item
          a.page-nav__link(href='#open-letter') Updates
        li.page-nav__item
          a.page-nav__link(href='#open-letter') About Us
        li.page-nav__item
          a.page-nav__link.-highlight(href='#open-letter') Sign Now

      ul.page-nav__list.-social
        li.page-nav__item
          a.page-nav__link(href='') T
        li.page-nav__item
          a.page-nav__link(href='') F
        li.page-nav__item
          a.page-nav__link(href='') IN

    main.page__content
      block body

  block scripts
