html {
  font-size: $fs-document-s;

  @include break(tablet) {
    font-size: $fs-document;
  }
}

body {
  color: $color-text;
  font: $fw-text 1em/#{$lh-base-s} $ff-text;
}

strong {
  font-weight: $fw-bold;
}

p {
  margin: 0;

  & + & {
    margin: 0.5em 0 0;
  }
}
