.color-block {
  overflow: hidden;
  padding: calc(1em + #{columns(0.75)}) columns(1);
  position: relative;

  @include break(tablet-l) {
    padding-left: columns(2);
  }

  &::after {
    background: $color-secondary;
    content: '';
    height: 50vh;
    position: absolute;
    right: 0;
    width: columns(11);
    top: -1rem;
    z-index: -1;

    @include break(tablet) {
      height: 100%;
      right: columns(1);
      top: 0;
      width: columns(12);
    }

    @include break(tablet-l) {
      width: columns(11);
    }
  }

  &.-left {
    $outline-width: columns(1);

    outline: $outline-width solid var(--color-bg);
    outline-offset: -$outline-width;
    padding: calc(1em + #{columns(0.5) + $outline-width * 1.5}) columns(1);

    &::after {
      background: var(--color-bg);
      height: 100%;
      left: 0;
      right: auto;
      width: columns(3);
    }
  }

  &__headline {
    font-weight: $fw-bold;
  }

  &__text {
    font-size: 1.25em;

    @include break(tablet) {
      margin-left: columns(3);
      max-width: columns(10);
    }

    @include break(tablet-l) {
      margin-left: columns(3);
      max-width: columns(7);

    }

    .-left & {
      font-size: 1em;

      @include break(tablet) {
        margin-left: columns(3);
        max-width: columns(11);
      }

      @include break(tablet-l) {
        margin-left: columns(3);
        max-width: columns(9);
      }
    }

    &.-intro {
      font-weight: $fw-bold;
      font-size: 1.5em;
      margin-bottom: 2em;
      margin-left: 0;

      @include break(tablet) {
        max-width: columns(11);

        .-left & {
          margin-left: columns(1);
        }
      }

      @include break(tablet-l) {
        max-width: columns(9);
      }
    }

    & + & {
      margin-top: 1em;
    }
  }

}
