.hero {
  background: $color-primary;
  color: colorInvert($color-primary);
  min-height: 30vh;
  padding: 20vh 0 15vh 0;
  position: relative;
  width: 100%;

  @media (orientation: landscape) {
    min-height: 62.5vh;
  }

  &__wrap {
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  &::after {
    background: $color-soft;
    content: '';
    height: 100%;
    left: -10%;
    mix-blend-mode: multiply;
    opacity: 0.5;
    position: absolute;
    top: 0;
    transform: skew(20deg);
    width: 30vw;
    z-index: 0;
  }

  &__container {
    margin: auto;
    padding-bottom: 2.5%;
    position: relative;
    text-align: center;
    z-index: 1;
  }

  &__title {
    font-size: calc(1.25rem + 1.5vw);
    margin: 0 auto 0.5em;
    width: 100%;

    @include break(tablet) {
      font-size: calc(2rem + 2vw);
      max-width: calc(18rem + 50vw);
    }
  }

  &__subtitle {
    font-size: calc(1rem + 0.25vw);
    font-weight: $fw-bold;
    letter-spacing: 0.05em;
    margin: 0;
    text-transform: uppercase;
  }

  &-button {
    bottom: 0;
    display: inline-block;
    margin-left: 50%;
    margin-top: -0.25em;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10;
    position: sticky;
    top: 3em;
  }
}
