.page-nav {
  display: grid;
  grid-template: auto / 1fr 2fr 1fr;
  left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
  top: 0;
  padding: 1rem;
  z-index: 100;

  &__logo {
    width: 50px;

    img {
      background: $color-primary;
      vertical-align: bottom;
      width: 50px;
      height: 50px;
      display: block;
      border-radius: 50%;
    }
  }

  &__list {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;

    &.-social {
      justify-content: flex-end;
    }
  }

  &__item {
    & + & {
      margin-left: 1em;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;

    &.-highlight {
      font-weight: $fw-bold;
    }
  }
}
