.open-letter {
  --color-highlight: #{$color-secondary};

  align-items: flex-end;
  padding: calc(#{columns(0.5)} + 3em) columns(1) columns(1);
  position: relative;

  @include break(tablet-l) {
    display: grid;
    grid-template:
      'headline headline . . . .' auto
      '. intro intro intro . .' auto
      '. a . b b b' auto
      / 1fr 5fr 1fr 3fr 3fr 1fr;

    &.text-block {
      margin-top: 0;
    }
  }

  &::before {
    @include break(desktop) {
      background-color: $color-secondary;
      background-color: var(--color-highlight);
      content: '';
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      width: 0.25em;
    }
  }

  &__headline {
    @include text-crop($lh-small);
    grid-area: headline;
    font-weight: $fw-bold;
    line-height: $lh-small;
    margin: 0;
    position: relative;
    text-align: left;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__block {
    margin: calc(1em + 1vw) 0;

    &-a {
      @extend .open-letter__block;
      font-size: 1.25em;
      grid-area: a;
    }

    &-b {
      @extend .open-letter__block;
      grid-area: b;
    }
  }

  &__intro {
    @extend .open-letter__block;
    font-size: 1.25em;
    font-weight: $fw-bold;
    grid-area: intro;
    margin-top: calc(2em + 2vw);

    @include break(tablet-l) {
      font-size: 1.75em;
    }
  }
}
