%block {
  align-items: center;
  color: colorInvert($color-tertiary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: columns(1);
}

.proposals {
  &__intro {
    font-weight: $fw-bold;
    letter-spacing: 0;
    line-height: $lh-base-s;
    text-transform: none;
  }

  &__list {
    clear: both;
    counter-reset: proposals;
    list-style: none;
    margin: columns(1) 0 0;
    padding: 0;
    width: 100%;

    @include break(tablet) {
      max-width: columns(14);
    }

    @include break(tablet-l) {
      max-width: columns(11);
      padding-right: columns(1);
    }
  }

  &__item {
    counter-increment: proposals;
    font-size: 1.25em;
    font-weight: $fw-bold;
    overflow: hidden;

    @include break(tablet-l) {
      font-size: 1.5em;
    }

    &::before {
      color: $color-tertiary;
      content: counter(proposals);
      font-weight: $fw-bold;
      font-size: 2em;
      float: left;
      line-height: 1;
      transform: skew(-10deg);
      margin-right: 0.5em;
      font-variant-numeric: tabular-nums;
    }

    p {
      overflow: hidden;
    }

    & + & {
      margin-top: 1em;
    }
  }

  &-bottom {
    --color-highlight: #{$color-highlight};
    --color-bg: #{$color-soft};
  }

  // &-bottom {
  //   display: grid;
  //   grid-template:
  //     'a b' auto
  //     'a c' auto
  //     / 1fr 1fr;
  //   width: 100%;

  //   &__a {
  //     @extend %block;
  //     background: $color-tertiary;
  //     font-size: 2.25em;
  //     grid-area: a;
  //     padding: columns(1);

  //     p:first-child {
  //       font-weight: $fw-bold;
  //     }
  //   }

  //   &__b {
  //     @extend %block;
  //     background: desaturate(darken($color-tertiary, 7%), 5%);
  //     background: mix($color-tertiary, $color-secondary, 66%);
  //     color: colorInvert(mix($color-tertiary, $color-secondary, 66%));
  //     grid-area: b;
  //   }

  //   &__c {
  //     @extend %block;
  //     background: desaturate(darken($color-tertiary, 14%), 5%);
  //     // color: colorInvert(desaturate(darken($color-tertiary, 14%), 5%));
  //     background: mix($color-tertiary, $color-secondary, 33%);
  //     color: colorInvert(mix($color-tertiary, $color-secondary, 33%));
  //     grid-area: c;
  //   }
  // }
}
