.sign-cta {
  $padding: calc(1rem + 1.5vw);

  background: $color-tertiary;
  border-radius: 3px;
  bottom: 1rem;
  box-shadow: 10px 20px 30px -10px rgba(#000, 0.2),
    -10px 20px 30px -10px rgba(#000, 0.2);
  color: colorInvert($color-tertiary);
  left: 1rem;
  font-weight: $fw-bold;
  line-height: $lh-base-s;
  overflow: hidden;
  padding: $padding;
  position: fixed;
  right: 1rem;
  transition: transform 0.4s ease-out;
  z-index: 200;

  &:active {
    transform: translateY(2px);
  }

  @include break(600px) {
    align-items: center;
    display: flex;

    &::before {
      background: desaturate(darken($color-tertiary, 7%), 5%);
      content: '';
      @include absolute;
      transform: scaleX(0);
      transform-origin: center right;
      transition: transform 0.4s ease-out;
      z-index: -1;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }

  @include break(desktop) {
    left: columns(1);
    right: columns(1);
  }

  @include break(hd) {
    left: columns(3);
    right: columns(3);
  }


  &__text {
    flex: 1;

    @include break(600px) {
      padding-right: columns(1);
    }

    a {
      color: lighten($color-tertiary, 10%);
      position: relative;
      z-index: 10;

      &:hover {
        color: $color-tertiary;
      }
    }
  }

  a#{&}__btn {
    color: inherit;
    display: block;
    flex: 0 0 auto;
    font-size: 1.125em;
    font-weight: $fw-bold;
    letter-spacing: 0.05em;
    margin-left: auto;
    margin-top: 1.5em;
    position: static;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 100%;

    &::after {
      content: '';
      @include absolute;
      z-index: 9;
    }

    @include break(600px) {
      margin-top: 0;
      width: auto;

      // emulate width
      &::before {
        background: desaturate(darken($color-tertiary, 7%), 5%);
        bottom: 0;
        color: transparent;
        content: 'Sign Now';
        padding: $padding;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
      }
    }
  }
}
