.sign {
  --color-bg: #{$color-tertiary};
  $sign-color: $color-primary;

  background: $sign-color;
  position: relative;
  z-index: 300; // overlay sign cta

  @include break(tablet-l) {
    display: grid;
    grid-template: 'header form' auto / 1fr 1fr;
  }

  &.color-block {
    padding-top: calc(2rem + #{columns(1)});
  }

  &__block {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: columns(1);

    &:last-of-type {
      @include break(tablet-l) {
        padding-bottom: calc(#{columns(1)} + 6rem);
      }
    }
  }

  &__form {
    position: static;

    &__group {
      &:nth-child(1) {
        background: rgba($color-primary-100, 0.5);

        @include break(tablet-l) {
          background: rgba($color-primary-100, 1);
          padding-bottom: columns(0.5);
        }
      }

      &:nth-child(2) {
        background: rgba($color-primary-100, 1);
        font-size: 1rem;

        @include break(tablet-l) {
          background: rgba($color-primary-100, 0.5);
          padding-top: columns(0.5);
        }

        @include break(tablet-l, max) {
          padding-bottom: calc(3rem + #{columns(2)});
        }
      }

      @include break(tablet-l, max) {
        .form-item, p {
          margin-left: auto;
          margin-right: auto;
          max-width: 500px;
          width: 100%;
        }
      }
    }
  }

  &__headline {
    letter-spacing: 0;
    text-transform: none;
  }

  &__subheadline {
    color: colorInvert($sign-color);
    font-size: 1.5em;
    font-weight: $fw-bold;
    line-height: $lh-base-s;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;

    @include break(tablet-l) {
      max-width: none;
      text-align: right;
    }
  }

  &__info {
    color: $color-primary-100;
    font-size: 0.75rem;
    margin: auto auto 0;
    max-width: 500px;
    padding-top: 1.5em;

    @include break(tablet-l) {
      margin-left: columns(2);
      text-align: right;
    }

    a {
      color: colorInvert($sign-color);
    }
  }

  &__submit {
    padding: columns(1);
    position: absolute;
    transform: translateY(-50%);
    width: 100%;

    .button {
      width: 100%;
    }

    @include break(600px) {
      bottom: columns(1);
      left: 50%;
      margin: 0;
      position: absolute;
      transform: translate(-50%, 50%);
      width: auto;
    }
  }
}
