.text-block {
  --color-highlight: #{$color-highlight};

  line-height: $lh-base;
  position: relative;

  @include break(tablet) {
    font-size: calc(1rem + 0.25vw);
  }

  & + & {
    margin-top: columns(1);
  }

  &.-plain {
    padding: columns(1);

    @include break(tablet-l) {
      padding-left: columns(2);
    }
  }

  &__headline {
    color: $color-headlines;
    font-size: calc(1.25rem + 1.5vw);
    letter-spacing: 0.05em;
    line-height: $lh-small;
    margin: 0 0 1em;
    text-transform: uppercase;

    @include break(tablet) {
      font-size: calc(1.5rem + 2vw);
    }

    @include break(tablet-l) {
      .-plain & {
        margin-left: columns(-1);
      }
    }
  }

  em {
    background: linear-gradient(to bottom,
      transparent,
      transparent 40%,
      $color-highlight 40%,
      $color-highlight 70%,
      transparent 70%,
      transparent 100%
    );
    font-style: normal;
    position: relative;

    @supports(--css: properties) {
      background: linear-gradient(to bottom,
        transparent,
        transparent 40%,
        var(--color-highlight) 40%,
        var(--color-highlight) 70%,
        transparent 70%,
        transparent 100%
      );
    }
  }

  a {
    color: $color-primary;
    text-decoration: underline;
  }

  .column:nth-child(2) {
    align-self: flex-end;

    p {
      font-size: 1em;
    }
  }
}
