// color variables

$color-base:        #FFFFFF;
$color-light:       #FAFAFA;
$color-soft:        #C1EDCC;
$color-text:        #181D27;
$color-headlines:   #080708;

$color-inv-base:    $color-headlines;
$color-inv-text:    $color-base;

$color-primary:     #529247;
$color-primary-100: #AFBE8F;
$color-primary-100: #ABE188;

$color-soft:        $color-primary-100;
$color-highlight:   #aeea00;
$color-secondary:   saturate(lighten(#eebf59, 5%), 100%);
$color-secondary:   #C6CA53;
$color-secondary:   #EAD637;

$color-tertiary:      #E54B4B;
$color-tertiary-200:  #AD343E;
$color-tertiary:      #DD4D4D;
$color-tertiary:      mix($color-secondary, $color-tertiary, 50%);

$color-error:       brickred;
$color-success:     mediumseagreen;
$color-info:        dodgerblue;
$color-warning:     gold;
