// typography variables

// Document font sizes used for root element, basis for rem
$fs-document-s: 14px;
$fs-document:   16px;

// Font sizes relative to root
$fs-xx-small:   0.75rem;
$fs-x-small:    0.875rem;
$fs-small:      1rem;
$fs-base:       1.125rem;
$fs-medium:     1.25rem;
$fs-large:      1.5rem;
$fs-x-large:    2rem;
$fs-xx-large:   3.25rem;

// System fonts used for fallbacks
$ff-system:     -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// Relative fonts
$ff-default:    'Montserrat', $ff-system;
$ff-text:       $ff-default;
$ff-display:    $ff-default;
$ff-highlight:  'Kalam', $ff-text;

// Font weights
$fw-normal:     400;
$fw-medium:     600;
$fw-bold:       700;

$fw-text:       $fw-normal;
$fw-display:    $fw-normal;

// Line heights
$lh-small:      1.125;
$lh-base-s:     1.3;
$lh-base:       1.5;
