
{% set class = class|default() %}
{% if text is defined and text is not empty %}
<p{% if class is defined and class is not empty %}  class="{{ class }}"{% endif %}>
    {{ text }}
</p>
{% endif %}

{% if class is not empty and class is defined %}
{% endif %}

{% if body is defined and body is not empty %}
{{ body|raw }}
{% endif %}