mixin svg(name, className='', type='icon')
  svg.icon(class=className)
    use(xlink:href='#' + type + '-' + name)
    //- external svg sprite (not supported in IE11 by default)
    //- use(xlink:href=IMG_pfad + 'icons/sprite.svg#icon-' + name)

mixin flag(name, className='')
  +svg(name, className, 'icon')
