{% extends 'base.html.twig' %}

{% block content %}	
	{% include 'partials/page_header.html.twig' %}
		{% if content.header_image %}
			<div class="row">
				{% set imageUrl = imageUrl|default(content.url|default()) %}
				{% set imageTitle = imageTitle|default(content.title|default()) %}
				{% set imageSrc = imageSrc|default(content.header_image.thumbnails['800x400']|default()) %}
				{% set imageSrc2160 = imageSrc2160|default(content.header_image.thumbnails['2160w']|default()) %}
				{% set imageSrc1140 = imageSrc1140|default(content.header_image.thumbnails['1140w']|default()) %}
				{% set imageSrc960 = imageSrc960|default(content.header_image.thumbnails['960w']|default()) %}
				{% set imageSrc720 = imageSrc720|default(content.header_image.thumbnails['720w']|default()) %}
				{% set imageSrc640 = imageSrc540|default(content.header_image.thumbnails['640w']|default()) %}
				{% set imageSrc320 = imageSrc540|default(content.header_image.thumbnails['320w']|default()) %}
				{% set imageTitle=  content.header_image.name %}
				{% set imageSrcset = {"2160w": imageSrc2160, "1140w": imageSrc1140, "960w": imageSrc960, "720w": imageSrc720, "640w": imageSrc640, "320w": imageSrc320} %}
				{% set imageSizes = "(min-width: 1200px) 1140px, (min-width: 992px) 960px, (min-width: 768px) 720px, (min-width: 576px) 540px, 100vw" %}
				{% include 'includes/blocks/inner/image_block.html.twig' with {imageSrc: imageSrc, imageTitle: imageTitle, imageSrcset: imageSrcset, imageSizes: imageSizes} %}
			</div>
		{% endif %}

		<section class="proposals text-block -plain" id="open-letter">
			<h2>{{ content.title }}</h2>
			{{ content.article|raw }}
		</div>
		{% endif %}
	{% if content.blocks %}
		<section class="proposals text-block -plain" id="open-letter">
			<h2>{{ content.title }}</h2>
		</section>
			{% for block in content.blocks %}
				<div class="step-up text-block -plain container">
				{% include "includes/blocks/" ~ block.type ~ ".html.twig" with { inRow: true} %}
				{% if block.close_row %}
				</div>
				<div class="step-up text-block -plain">
				{% endif %}
			{% endfor %}
	{% endif %}
{% endblock %}