{% extends 'base.html.twig' %}

{% block content %}
	{% include 'partials/page_header.html.twig' %}
	<div class="step-up text-block -plain container">
		{% set block = {articles: content.articles} %}
		{% include 'includes/blocks/article_teasers.html.twig' %}
	</div>
{% endblock %}
