{% extends "base.html.twig" %}

{% block content %}
	{% include 'partials/page_header.html.twig' %}
	<section class="proposals text-block -plain" id="open-letter">
		<h2>{{ content.title }}</h2>
		{{ content.article|raw }}
	</div>
{% endblock %}
