{% extends "base.html.twig" %}

{% block content %}
	{% include 'partials/page_header.html.twig' %}
	<section class="open-letter text-block" id="open-letter">
		<h2 class="open-letter__headline text-block__headline">{{ content.open_letter_headline }}</h2>
		<div class="open-letter__intro">
			{{ content.open_letter_intro|raw }}
		</div>
		<div class="open-letter__block-a">
			{{ content.open_letter_block_a|raw }}
		</div>
		<div class="open-letter__block-b">
			{{ content.open_letter_block_b|raw }}
		</div>
	</section>
	<div class="task color-block text-block">
		<h3 class="color-block__headline text-block__headline">The task at hand</h3>
		<p class="color-block__text -intro">As the IPCC puts it, avoiding environmental breakdown requires “rapid, far-reaching and unprecedented changes in all aspects of society”.</p>
		<p class="color-block__text">We must radically change how we produce and consume to overcome the enormous challenge of decoupling economic activity from greenhouse gas emissions and unsustainable resource use.</p>
		<p class="color-block__text">Yet, the real task is to meet this challenge while transforming our world into a more prosperous and equitable place.</p>
	</div>
	<div class="step-up text-block -plain">
		<h3 class="step-up__headline text-block__headline">Stepping up</h3>
		<div class="columns">
			<div class="column">
				<p>Emergencies do not call for incrementalism, they call for an intervention.
				If the discipline which dedicates itself to studying the economy
				cannot sufficiently engage in the economic transformation that the
				climate science requires, then <em>who else can be expected to do this?</em> The responsibility and the opportunity is ours.</p>
			</div>
			<div class="column">
				<strong>Economists for Future</strong>
				believes  fulfilling this responsibility and seizing this opportunity requires us to at least embrace the following:</p>
			</div>
		</div>
	</div>
	<div class="step-up text-block -plain">
		<h3 class="step-up__headline text-block__headline">A discipline-wide response</h3>
		<div class="columns">
			<div class="column">
				<p>Climate change is itself not “the subject” that economists need to address: it is a symptom of the subject.
					Economists must get to the root of this problem. We must move beyond the cognitive bandwidth that
					says it is only environmental economists that should engage in this crisis.</p>
			</div>
			<div class="column">
				<p>This is not about having more
				environmental economists. This is about the whole discipline embedding its thinking and its
				methodologies within the context of a finite planet.</p>
			</div>
		</div>
	</div>
	<div class="step-up text-block -plain">
		<h3 class="step-up__headline text-block__headline">Redefining what it means to “Think like an economist”</h3>
		<div class="columns">
			<div class="column">
				<p>In the 20th century, economists tended to operate with the mindset that their task was to further human
prosperity. In the 21st century, economists need to embed furthering human prosperity <em>within</em> the
context of natural systems.</p>
			</div>
			<div class="column">
				With the effects of climate change varying profoundly across space and time,
prioritising distributional equity is central to that thinking. We should not outsource crucial issues, such
as climate justice as being hard to quantify. 21st-century economists will need to have a stronger
commitment to the rapid development of the discipline, even when that might be uncomfortable. Lastly,
more leading economists need to move beyond academic silos by actively contributing to public
deliberation.
			</div>
		</div>
	</div>
	<div class="proposals text-block -plain">
		<h3 class="visually-hidden">Proposals</h3>
		<p class="proposals__intro text-block__headline">Economists must show the world that they take the climate science seriously by</p>
		<ol class="proposals__list">
			<li class="proposals__item">
				<p>Prioritising research and resources towards this issue</p>
			</li>
			<li class="proposals__item">
				<p>Teaching the next generation differently: the economists of the future must embed ecological
															                                concepts within their core thinking.</p>
			</li>
			<li class="proposals__item">
				<p>Making public and policy engagement on this issue a core responsibility</p>
			</li>
		</ol>
	</div>
	<div class="color-block proposals-bottom text-block">
		<div class="color-block__text -intro">
			<p>We cannot afford to be cheerleaders for the status quo.<br>Business-as-usual is far too expensive. It
												                            is economically and <em>morally</em> indefensible.</p>
		</div>
		<p class="color-block__text">Instead, we must play our part in creating and communicating an intellectual
									                        framework that accelerates action on the climate crisis.</p>
		<p class="color-block__text">There is simply not the time for a half-hearted response from the economics profession.
		 We still have great unmet potential to help tackle this crisis but it is now or never.
		 Signing this letter is a commitment to action now. A commitment to seize this opportunity
		 to strengthen the discipline, but most importantly, the very subject it serves: the wellbeing of humanity.</p>
	</div>
	<section id="about-us">
		<div class="container">
			<h1 class="text-left">Who are we?</h1>
			<div class="row d-inline-flex d-md-inline-flex">
				<div class="col d-flex d-xl-flex flex-column flex-grow-1" style="background-color: #f2d13d;">
					<h3 class="visually-hidden">Number count</h3>
					<p style="font-size: 20px;"><br>We are steadily
						<strong>growing movement of people</strong>
						committed to galvanising the economics community behind addressing the greatest challenge of our day:
						<strong>
							<span style="text-decoration: underline;">the climate and ecological crisis</span>
						</strong>.&nbsp;<br></p>
					<small><br><em>This initiative is lead by a group of students from across the globe, from Kenya to Germany, Great Britain to Chile.</em>&nbsp;<br><br><br></small>
				</div>
				<div class="col column-supported-heading" style="background-color: rgba(252,201,99,0.14);">
					<h3 class="text-center justify-content-xl-center" style="padding: 50px;">Supported by</h3>
					<div class="row">
						<div class="col">
							<a class="text-center d-xl-flex align-items-xl-center netzwerk" href="https://plurale-oekonomik.de"><img class="d-xl-flex img-responsive" src="{{ asset('/assets/img/netzwerk_logo.png') }}"></a>
						</div>
						<div class="col d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center">
							<a class="text-center netzwerk" href="http://rethinkeconomics.org"><img class="img-responsive img-responsive-re" src="{{ asset('/assets/img/re_logotype.png') }}" style="width: 170px;"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
