<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta
		name="viewport" content="width=device-width, initial-scale=1">

		<!-- MetaTags -->
		<!-- Primary Meta Tags -->
		<title>{{ 'seo.title' | trans }}</title>
		<meta name="title" content="{{ 'seo.title' | trans }}">
		<meta name="description" content="{{ 'seo.description' | trans }}">
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://econ4future.org/">
		<meta property="og:title" content="{{ 'seo.title' | trans }}">
		<meta property="og:description" content="{{ 'seo.description' | trans }}">
		<meta property="og:image" content="{{ asset('assets/img/green_logo.png')}}">
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://econ4future.org/">
		<meta property="twitter:title" content="{{ 'seo.title' | trans }}">
		<meta property="twitter:description" content="{{ 'seo.description' | trans }}">
		<meta property="twitter:image" content="{{ asset('assets/img/green_logo.png')}}">

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/ico/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/ico/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/ico/favicon-16x16.png') }}">
		<link rel="mask-icon" href="{{ asset('assets/ico/safari-pinned-tab.svg') }}" color="#5bbad5">
		<link rel="shortcut icon" href="{{ asset('assets/ico/favicon.ico') }}">
		<meta name="msapplication-TileColor" content="#da532c') }}">
		<meta name="msapplication-config" content="{{ asset('assets/ico/browserconfig.xml') }}">
		<meta name="theme-color" content="#ffffff">

		{% block meta %}
			{% include "SuluWebsiteBundle:Extension:seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "urls": urls|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
            "defaultLocale": app.request.locale
        } %}
		{% endblock %}

		<link rel="stylesheet" href="{{ asset('/assets/css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('/assets/css/about-us.css') }}">
		<link rel="stylesheet" href="{{ asset('/assets/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
		<link rel="stylesheet" href="{{ asset('/assets/fonts/ionicons.min.css') }}">
		<link rel="stylesheet" href="{{ asset('/assets/css/Footer-Basic.css') }}"> {% block style %}{% endblock %}

		<!-- Matomo -->
		<script type="text/javascript">
			var _paq = window._paq || [];
/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function () {
var u = "//analytics.developersforfuture.org/";
_paq.push([
'setTrackerUrl',
u + 'matomo.php'
]);
_paq.push(['setSiteId', '5']);
var d = document,
g = d.createElement('script'),
s = d.getElementsByTagName('script')[0];
g.type = 'text/javascript';
g.async = true;
g.defer = true;
g.src = u + 'matomo.js';
s.parentNode.insertBefore(g, s);
})();
		</script>
		<!-- End Matomo Code -->
	</head>
	<body>
		<!-- NAVBAR
				    ================================================= -->
		{% block header %}
			{% include 'partials/header.html.twig' %}
		{% endblock %}

		<main class="page__content"> {% block content %}{% endblock %}

			</main>
			{% block footer %}
				{% include 'partials/footer.html.twig' %}
			{% endblock %}
			{% block javascripts %}
				<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
				<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
				<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
			{% endblock %}
		</body>
	</html>
