/*
  Theme Name: Generally Ok
  Author: Patricia Steves
  Version: 0.1.0
  Tags: Custom
*/
@import url("https://fonts.googleapis.com/css?family=Kalam:700|Montserrat:400,700&display=swap");
html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on; }
  html *, html *::after, html *::before {
    box-sizing: inherit; }

body {
  margin: 0; }

img {
  max-width: 100%; }

hr {
  height: 0; }

abbr[title] {
  text-decoration: underline dotted; }

b,
strong {
  font-weight: 700; }

code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

figure {
  margin: 0; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
select {
  outline: 0;
  text-transform: none; }

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

[contenteditable=true] {
  outline: 0; }
  [contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; }

.icon {
  align-items: center;
  display: inline-flex;
  line-height: 1; }
  .icon svg {
    height: 1.25rem;
    margin-right: 0.5em;
    width: 1.25rem; }
    .icon svg * {
      fill: currentColor; }
      .icon svg *[stroke] {
        fill: none;
        stroke: currentColor; }

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1, 1, 1, 1);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px; }

html, body {
  scroll-behavior: smooth; }
  @media only screen and (min-width: 1336px) {
    html, body {
      height: 100%;
      width: 100%; } }

html {
  font-size: 14px; }
  @media only screen and (min-width: 768px) {
    html {
      font-size: 16px; } }

body {
  color: #181D27;
  font: 400 1em/1.3 "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

strong {
  font-weight: 700; }

p {
  margin: 0; }
  p + p {
    margin: 0.5em 0 0; }

.pace {
  pointer-events: none;
  user-select: none; }
  .pace-progress {
    background: #ededed;
    bottom: 0;
    position: fixed;
    right: 100%;
    top: 0;
    transform-origin: right center;
    transition: 0.1s ease;
    width: 100vw;
    will-change: right;
    z-index: -1; }
  .pace-inactive .pace-progress {
    opacity: 0; }
    @media only screen and (min-width: 1336px) {
      .pace-inactive .pace-progress {
        background: #FAFAFA;
        right: 0;
        transition: 1.25s 0.3s cubic-bezier(0.86, 0, 0.07, 1);
        width: 0; }
        .home .pace-inactive .pace-progress {
          opacity: 1;
          right: 50%;
          width: 50vw; }
        .-blog-expanded .pace-inactive .pace-progress,
        .-projects-expanded .pace-inactive .pace-progress {
          transition-delay: 0s;
          transition-duration: 0.75s; }
        .-blog-expanded .pace-inactive .pace-progress {
          right: calc(1.25rem + 4.7619047619% + 43px + 110px);
          width: calc(1.25rem + 4.7619047619% + 43px + 110px); }
        .-projects-expanded .pace-inactive .pace-progress {
          right: calc(90.4761904762% - 1.25rem);
          width: calc(90.4761904762% - 1.25rem); } }

html {
  height: 100%; }

.layout {
  min-height: 100%; }
  .layout__header .intro:nth-child(1), .layout__header .info:nth-child(1), .layout__header .posts-end:nth-child(1) {
    transition-delay: 0.6s; }
  .layout__header .button:nth-child(2) {
    transition-delay: 0.8s;
    transition-duration: 1s; }
  @supports (--css: variables) {
    .layout__header, .layout__footer {
      backface-visibility: hidden;
      perspective: 1000;
      transform-origin: center bottom;
      will-change: transform, opacity; }
    @media only screen and (min-width: 768px) {
      .layout__header {
        opacity: calc(1 - 10 * var(--scroll-percent-y));
        transform: translate3d(0, calc(-400px * var(--scroll-percent-y)), 0) scaleY(calc(1 + 0.25 * var(--scroll-percent-y))); } }
    @media only screen and (min-width: 1024px) {
      .layout__header {
        opacity: calc(1 - 10 * var(--scroll-percent-y)); } }
    @media only screen and (min-width: 1336px) {
      .layout__header {
        opacity: calc(1 - 10 * var(--scroll-percent-y)); } }
    .layout__footer {
      opacity: calc(10 * (var(--scroll-percent-y) - 0.85));
      transform: translate3d(0, calc(-400px * (var(--scroll-percent-y) - 0.85)), 0); } }

@media only screen and (min-width: 768px) {
  [data-scroll-plain] {
    transition: transform 0.6s cubic-bezier(0, 0, 0.2, 1), opacity 0.6s cubic-bezier(0, 0, 0.2, 1), clip-path 0.4s cubic-bezier(0, 0, 0.2, 1); }
  .text-appear, .text-appear-x {
    opacity: 0;
    position: relative;
    transform: scaleY(1.2) translate(0, 10px);
    transform-origin: right top; }
    .text-appear:nth-child(2), .text-appear-x:nth-child(2) {
      transition-delay: 0.1s; }
    .text-appear:nth-child(3), .text-appear-x:nth-child(3) {
      transition-delay: 0.2s; }
    .text-appear-x {
      transform: scaleX(1.2) translate(-10px, 0); }
    .text-appear[data-scroll='in'], .text-appear-x[data-scroll='in'] {
      opacity: 1 !important;
      transform: scale(1) translate(0, 0) !important; }
  .appear,
  .image-appear {
    opacity: 0; }
    .appear[data-scroll='in'],
    .image-appear[data-scroll='in'] {
      opacity: 1 !important; }
  .mask-appear {
    clip-path: inset(0 0 100% -10%);
    opacity: 0; }
    .mask-appear:nth-child(2) {
      transition-delay: 0.2s; }
    .mask-appear:nth-child(3) {
      transition-delay: 0.4s; }
    .mask-appear[data-scroll='in'] {
      clip-path: inset(0 0 0 -10%);
      opacity: 1; } }

.nav,
.layout__nav-spacer {
  clip-path: inset(0 100% calc(100% - 2px) 0);
  transition-timing-function: linear; }
  .nav[data-scroll='in'],
  .layout__nav-spacer[data-scroll='in'] {
    animation: reveal-nav 1s 1.6s cubic-bezier(0, 0, 0.2, 1) forwards;
    clip-path: inset(0 0 calc(100% - 2px) 0); }

@keyframes reveal-nav {
  from {
    clip-path: inset(0 0 calc(100% - 2px) 0); }
  to {
    clip-path: inset(0 0 0 0); } }

.layout__nav-spacer {
  transition-delay: 1s; }

.nav {
  transition-duration: 0.2s;
  transition-delay: 1.4s;
  transition-timing-function: ease-out; }

@media only screen and (min-width: 768px) {
  .layout__posts > :nth-child(1) .posts__header {
    transition-delay: 0.6s; }
  .layout__posts > :nth-child(2) .posts__header {
    transition-delay: 0.5s; }
  .post[data-scroll-plain] {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s cubic-bezier(0, 0, 0.2, 1), transform 0.6s cubic-bezier(0, 0, 0.2, 1); }
    .post[data-scroll-plain][data-scroll='in'] {
      opacity: 1;
      transform: translateY(0); }
    .layout__posts > :nth-child(1) .post[data-scroll-plain]:nth-child(1) {
      transition-delay: 0.8s; }
    .layout__posts > :nth-child(2) .post[data-scroll-plain]:nth-child(1) {
      transition-delay: 0.6s; }
    .layout__posts > :nth-child(1) .post[data-scroll-plain]:nth-child(2) {
      transition-delay: 0.95s; }
    .layout__posts > :nth-child(2) .post[data-scroll-plain]:nth-child(2) {
      transition-delay: 0.75s; } }

input,
button {
  /* -webkit-appearance: none; */ /* TODO currently, the checkboxes are buggy: they dont have a mark when selected, only the focus is styled. Workaround to use system checkboxes. */
  background: transparent;
  border: 0;
  border-radius: 0;
  outline: 0;
  padding: 0;
  font: inherit; }

input::placeolder {
  color: #ABE188; }

svg {
  color: currentColor;
  max-height: 100%;
  max-width: 100%; }
  svg * {
    fill: currentColor; }
    svg *[stroke] {
      fill: none;
      stroke: currentColor; }

button svg {
  height: 2rem;
  width: 2rem; }

.button {
  border-radius: 3px;
  background: #f5df2c;
  color: #1f1c0d;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0.05em;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 0.2s ease, transform 0.2s ease;
  white-space: nowrap;
  will-change: transform;
  z-index: 2; }
  @media only screen and (min-width: 1600px) {
    .button {
      font-size: 1.25rem; } }
  .button::before, .button::after {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: inherit; }
  .button::before {
    background: #d7c217;
    background: #e8c23a;
    transform: translate(5px, 5px);
    z-index: -1; }
  .button:hover, .button:focus {
    transform: translate(-5px, -5px); }
    .button:hover::after, .button:focus::after {
      transform: translateY(5px, 5px); }
    .button:hover::before, .button:focus::before {
      transform: translate(10px, 10px); }
  .button:active {
    transform: translateY(1px); }
    .button:active::after {
      transform: translateY(-1px); }
    .button:active::before {
      transform: translate(5px, 4px); }
  .button span {
    background: inherit;
    display: block;
    padding: 1.125em 3em;
    position: relative;
    z-index: 1; }

textarea, input {
  transition: background 0.2s ease, box-shadow 0.2s ease; }
  textarea:focus, input:focus {
    box-shadow: 0 0 0 3px #EAD637; }

textarea,
input[type=text],
input[type=email],
input[type=search],
input[type=password] {
  background: #FFFFFF;
  border-radius: 3px;
  border: 2px solid;
  color: inherit;
  padding: 0.5em 1em; }
  textarea::placeholder,
  input[type=text]::placeholder,
  input[type=email]::placeholder,
  input[type=search]::placeholder,
  input[type=password]::placeholder {
    color: currentColor;
    opacity: 0.5; }

input[type='radio'] {
  border-radius: 50%;
  border: 2px solid;
  display: inline-block;
  flex: 0 0 1em;
  height: 1em;
  margin-top: 0.25em;
  margin-right: 1em;
  width: 1em; }
  input[type='radio']:checked {
    background: currentColor; }

input[type="checkbox"] {
  border: 2px solid;
  display: inline-block;
  flex: 0 0 1em;
  height: 1em;
  margin-top: 0.25em;
  margin-right: 1em;
  width: 1em;
}

.form-item {
  display: flex;
  flex-direction: column-reverse; }
  .form-item + .form-item {
    margin-top: 1em; }
  .form-item.-radio {
    flex-direction: row; }
    .form-item.-radio:not(:first-child) {
      margin-top: 0.5em; }

.label {
  margin: 0 0 0.5em; }

.title {
  font: 400 2rem/1 "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: calc(1.5rem + 3vw);
  margin: 0;
  text-transform: lowercase;
  transform: rotate(-180deg);
  writing-mode: tb; }
  @media only screen and (min-width: 1024px) {
    .title {
      font-size: calc(3.25rem + 0.5vw); } }
  .title__link {
    align-items: flex-start;
    color: #080708;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: color 0.4s cubic-bezier(0, 0, 0.2, 1); }
    .title__link > * {
      display: block; }
    .title__link:hover {
      color: #529247; }
  .title .mask-appear:nth-child(1) {
    transition-delay: 0.9s; }
  .title .mask-appear:nth-child(2) {
    transition-delay: 1.1s; }

.headline {
  font-size: calc(1.5rem + 1vw);
  font-weight: 400;
  line-height: 1.125;
  margin: 0 0 0.5em; }
  @media only screen and (min-width: 768px) {
    .headline {
      font-size: calc(2rem + 0.5vw); } }

.intro, .info, .posts-end {
  font: 400 1.5rem/1.3 "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0 0 1em; }
  @media only screen and (min-width: 475px) {
    .intro, .info, .posts-end {
      font-size: calc(1.5rem + 0.5vw); } }

@media only screen and (min-width: 1336px) and (max-width: 1599px) {
  .intro, .info, .posts-end {
    font-size: calc(1.5rem + 0.125vw); } }

.info {
  color: #ABE188;
  font-weight: 400; }
  .info p:not([class]) {
    all: inherit;
    margin: 0; }

.posts-end {
  color: #ABE188;
  position: relative;
  z-index: 2; }
  @media only screen and (min-width: 1024px) {
    .posts-end {
      margin: 0 auto;
      text-align: center; } }

.post {
  color: #FFFFFF;
  height: 0;
  padding-bottom: 70%;
  position: relative;
  width: 100%;
  z-index: 1; }
  .post::before {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: #080708;
    content: '';
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    z-index: -1; }
    .layout__blog .post::before {
      opacity: 0.15; }
    .layout__projects .post::before {
      opacity: 0.75; }
  @media only screen and (min-width: 1024px) {
    .post:hover::before {
      transform: translate(-7px, -7px);
      transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1); } }
  .layout__blog .post::after {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: #529247;
    content: '';
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    z-index: -2; }
  @media only screen and (min-width: 1024px) {
    .layout__blog .post:hover::after {
      transform: translate(7px, 7px);
      transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1); } }
  .post__content, .post__link {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
  .post__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.75rem;
    z-index: 2; }
    @media only screen and (min-width: 475px) {
      .post__content {
        padding: 1.75rem calc(2rem + 2vw); } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .post__content {
    padding: 1.75rem; } }
    @media only screen and (min-width: 1600px) {
      .post__content {
        padding: 1.75rem calc(3.25rem + 0.5vw); } }
  .post__link {
    z-index: 3; }
  .post:hover .post__link {
    bottom: -7px;
    left: -7px;
    right: -7px;
    top: -7px; }
  .post__image {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
    width: 100%;
    z-index: -2; }
    .post__image img {
      height: 100%;
      flex-shrink: 0;
      max-width: none;
      min-height: 100%;
      min-width: 100%;
      object-fit: cover;
      width: 100%; }
  @media only screen and (min-width: 1024px) {
    .post:hover .post__image {
      transform: translate(7px, 7px);
      transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1); } }
  .post__headline {
    font: 400 1.25rem/1.3 "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: auto 0;
    padding-bottom: 0.5em; }
    @media only screen and (min-width: 580px) {
      .post__headline {
        font-size: calc(1.125rem + 0.5vw); } }
    @media only screen and (min-width: 1024px) {
      .post__headline {
        font-size: calc(1.125rem + 0.125vw); } }
    .post__headline:last-child {
      margin-bottom: auto; }

@media only screen and (min-width: 475px) and (max-width: 767px) {
  .post__headline {
    font-size: calc(1.25rem + 0.75vw);
    margin-bottom: 0;
    max-width: 17.5rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .post__headline {
    font-size: 1.125rem; } }
  .post__description {
    max-width: 90%;
    padding-bottom: 0.5em; }
    @media only screen and (max-width: 474px) {
      .post__description {
        clip: rect(1px, 1px, 1px, 1px);
        clip: rect(1, 1, 1, 1);
        height: 1px;
        overflow: hidden;
        position: absolute;
        width: 1px; } }
    @media only screen and (min-width: 768px) {
      .post__description {
        clip: rect(1px, 1px, 1px, 1px);
        clip: rect(1, 1, 1, 1);
        height: 1px;
        overflow: hidden;
        position: absolute;
        width: 1px; } }
    .post__description:last-child {
      margin-bottom: auto; }
  .post__footer {
    margin-bottom: 0.75rem;
    margin-top: auto; }
  .post__headline + .post__footer {
    margin-top: 0; }
  .post .tag {
    color: inherit;
    opacity: 0.75; }

@media only screen and (min-width: 580px) {
  .columns {
    display: flex; } }

.column + .column {
  margin-top: 1.25rem; }

@media only screen and (min-width: 580px) {
  .column {
    flex: 1; }
    .column + .column {
      margin-left: 6.25vw;
      margin-top: 0; } }

@media only screen and (min-width: 768px) {
  .column + .column {
    margin-left: 10vw; } }

@media only screen and (min-width: 1024px) {
  .column.-third {
    flex: 0 0 18.75vw; }
  .column + .column {
    margin-left: 6.25vw; } }

.column p {
  font-size: 1.25em; }

.container {
  padding: 0 6.25vw; }

.section {
  padding-bottom: 5rem;
  padding-top: 5rem; }

.layout {
  display: grid;
  grid-template: "lg   .     .     .  " ".    .     hd    .  " ".    .     cnt   .  " 1fr "ttl  spc   nav   nav"/1fr 0.5fr 5.5fr 1.25rem;
  padding: 1.25rem 0 0 1.25rem; }
  @media only screen and (min-width: 400px) {
    .layout {
      grid-template: '.     lg    .     .     .  ' '.     .     .     hd    .  ' 'ttl   ttl   .     cnt   .  ' 1fr 'ttl   ttl   spc   nav   nav' / 0.5fr  1fr  0.5fr 5.5fr 1fr;
      padding-left: 0; } }
  @media only screen and (min-width: 768px) {
    .layout {
      grid-template: '.   lg  .   hd  hd    hd  .   .  ' '.   ttl .   cnt cnt   cnt cnt .  ' auto '.   ttl spc spc nav   nav nav nav' / 1fr 1fr 1fr 4fr 0.5fr 2fr 2fr 1fr; } }
  @media only screen and (min-width: 1024px) {
    .layout {
      grid-template: '.   lg    lg    hd   hd   .   .  ' 'ttl ttl   .     cnt  cnt  cnt .  ' auto 'ttl ttl   spc   nav  nav  nav nav' / 1fr 0.5fr 0.5fr 4fr 0.5fr 4fr 1fr; } }
  @media only screen and (min-width: 1336px) {
    .layout {
      grid-template: 'lg  .   .   hd  hd  hd  .   .   prj prj prj .   .' max-content '.   .   .   .   cnt cnt cnt cnt cnt cnt cnt .   .' auto 'ttl ttl spc spc spc spc spc spc spc spc spc nav .' / 1fr 1fr 1fr 2fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 4fr 1fr;
      padding: 1.25rem; } }
  .layout__logo {
    grid-area: lg;
    position: fixed;
    top: 1.25rem; }
    @media only screen and (min-width: 400px) {
      .layout__logo {
        left: 1.25rem; } }

@media only screen and (min-width: 768px) and (max-width: 1335px) {
  .layout__logo {
    left: 8%; } }
    @media only screen and (min-width: 1336px) {
      .layout__logo {
        left: 2.3rem; } }
  .layout__header {
    grid-area: hd;
    margin-bottom: 3.25rem;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .layout__header {
        margin: 0;
        padding-top: 1.75rem;
        position: sticky;
        top: 1.25rem; } }
    @media only screen and (min-width: 1024px) {
      .layout__header {
        max-width: 24rem; } }
  @media only screen and (min-width: 1024px) and (max-width: 1335px) {
    .layout__header {
      padding-top: 5rem; } }
  .layout__title, .layout__nav, .layout__nav-spacer {
    bottom: 0; }
    @media only screen and (min-width: 1600px) {
      .layout__title, .layout__nav, .layout__nav-spacer {
        bottom: 1.25rem; } }
  .layout__title {
    bottom: 1.25rem;
    left: 0;
    grid-area: ttl;
    position: fixed; }
    @media only screen and (min-width: 400px) {
      .layout__title {
        left: 0.25rem; } }
    @media only screen and (min-width: 1600px) {
      .layout__title {
        left: 1.75rem; } }
  .layout__nav {
    grid-area: nav; }
    .layout__nav, .layout__nav-spacer {
      background: #FFFFFF; }
      @media only screen and (min-width: 1336px) {
        .layout__nav, .layout__nav-spacer {
          background: transparent; } }
    .layout__nav-spacer {
      grid-area: spc; }
    .layout__nav, .layout__nav-spacer {
      position: relative;
      position: sticky;
      z-index: 2; }
      @media only screen and (min-width: 1336px) {
        .layout__nav, .layout__nav-spacer {
          z-index: 0; } }
  .layout__content {
    grid-area: cnt;
    overflow: hidden; }
    @media only screen and (min-width: 1336px) {
      .layout__content {
        overflow: initial; } }
  .layout__posts {
    display: grid;
    grid-gap: 1.25rem;
    grid-template: 'blg prj' / 1fr 1fr; }
    @media only screen and (max-width: 767px) {
      .layout__posts {
        width: calc(200% + 1.25rem); }
        .layout__posts.-projects-expanded {
          transform: translateX(-50%) translateX(-0.625rem); } }
    @media only screen and (min-width: 768px) {
      .layout__posts {
        grid-gap: 6%; } }
    @media only screen and (min-width: 1336px) {
      .layout__posts {
        margin-top: -5rem; }
        .layout__posts.-blog-expanded {
          margin-top: -12rem; } }
  .layout__blog {
    grid-area: blg;
    transition: opacity 0.5s cubic-bezier(0, 0, 0.2, 1); }
    @media only screen and (min-width: 768px) {
      .layout__blog {
        margin-top: 7rem;
        padding-bottom: 9rem;
        z-index: 10; }
        .-blog-expanded .layout__blog {
          margin-top: 0;
          z-index: initial; }
        .-projects-expanded .layout__blog {
          opacity: 0;
          position: absolute;
          transition: opacity 0s;
          visibility: hidden; }
        .-blog-expanded .layout__blog {
          grid-column: 1 / -1; } }
  .layout__projects {
    align-items: flex-start;
    grid-area: prj;
    transition: opacity 0.5s cubic-bezier(0, 0, 0.2, 1); }
    @media only screen and (max-width: 767px) {
      .layout__projects.is-affixed {
        height: auto !important;
        position: static !important; }
        .layout__projects.is-affixed .posts {
          left: auto !important;
          position: static !important;
          top: auto !important;
          transform: none !important;
          width: auto !important; } }
    @media only screen and (min-width: 768px) {
      .-blog-expanded .layout__projects {
        opacity: 0;
        position: absolute;
        transition: opacity 0s;
        visibility: hidden; }
      .-projects-expanded .layout__projects {
        grid-column: 1 / -1; }
        .-projects-expanded .layout__projects.is-affixed {
          height: auto !important;
          position: static !important; }
          .-projects-expanded .layout__projects.is-affixed .posts {
            left: auto !important;
            position: static !important;
            top: auto !important;
            transform: none !important;
            width: auto !important; } }
  .-projects-expanded .layout__projects .layout__header {
    transform: translateY(100%); }
  .layout__footer {
    grid-area: fin;
    margin: 0 auto;
    max-width: 27rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding-bottom: 3.25rem; }

.hero {
  background: #529247;
  color: #fff;
  min-height: 30vh;
  padding: 20vh 0 15vh 0;
  position: relative;
  width: 100%; }
  @media (orientation: landscape) {
    .hero {
      min-height: 62.5vh; } }
  .hero__wrap {
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%; }
  .hero::after {
    background: #ABE188;
    content: '';
    height: 100%;
    left: -10%;
    mix-blend-mode: multiply;
    opacity: 0.5;
    position: absolute;
    top: 0;
    transform: skew(20deg);
    width: 30vw;
    z-index: 0; }
  .hero__container {
    margin: auto;
    padding-bottom: 2.5%;
    position: relative;
    text-align: center;
    z-index: 1; }
  .hero__title {
    font-size: calc(1.25rem + 1.5vw);
    margin: 0 auto 0.5em;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .hero__title {
        font-size: calc(2rem + 2vw);
        max-width: calc(18rem + 50vw); } }
  .hero__subtitle {
    font-size: calc(1rem + 1.5vw);
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    text-transform: uppercase; }
  .hero__subsubtitle {
    font-size: calc(1rem + 1.25vw);
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    text-transform: uppercase; }
  .hero-button {
    bottom: 0;
    display: inline-block;
    margin-left: 50%;
    margin-top: -0.25em;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10;
    position: sticky;
    top: 3em; }

.page-nav {
  display: grid;
  grid-template: auto / 1fr 2fr 1fr;
  left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
  top: 0;
  padding: 1rem;
  z-index: 100; }
  .page-nav__logo {
    width: 50px; }
    .page-nav__logo img {
      background: #529247;
      vertical-align: bottom;
      width: 50px;
      height: 50px;
      display: block;
      border-radius: 50%; }
  .page-nav__list {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0; }
    .page-nav__list.-social {
      justify-content: flex-end; }
  .page-nav__item + .page-nav__item {
    margin-left: 1em; }
  .page-nav__link {
    color: inherit;
    text-decoration: none; }
    .page-nav__link.-highlight {
      font-weight: 700; }

.text-block {
  --color-highlight: #aeea00;
  line-height: 1.5;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .text-block {
      font-size: calc(1rem + 0.25vw); } }
  .text-block + .text-block {
    margin-top: 6.25vw; }
  .text-block.-plain {
    padding: 6.25vw; }
    @media only screen and (min-width: 1024px) {
      .text-block.-plain {
        padding-left: 12.5vw; } }
  .text-block__headline {
    color: #080708;
    font-size: calc(1.25rem + 1.5vw);
    letter-spacing: 0.05em;
    line-height: 1.125;
    margin: 0 0 1em;
    text-transform: uppercase; }
    @media only screen and (min-width: 768px) {
      .text-block__headline {
        font-size: calc(1.5rem + 2vw); } }
    @media only screen and (min-width: 1024px) {
      .-plain .text-block__headline {
        margin-left: -6.25vw; } }
  .text-block em {
    background: linear-gradient(to bottom, transparent, transparent 40%, #aeea00 40%, #aeea00 70%, transparent 70%, transparent 100%);
    font-style: normal;
    position: relative; }
    @supports (--css: properties) {
      .text-block em {
        background: linear-gradient(to bottom, transparent, transparent 40%, var(--color-highlight) 40%, var(--color-highlight) 70%, transparent 70%, transparent 100%); } }
  .text-block a {
    color: #529247;
    text-decoration: underline; }
  .text-block .column:nth-child(2) {
    align-self: flex-end; }
    .text-block .column:nth-child(2) p {
      font-size: 1em; }

.color-block {
  overflow: hidden;
  padding: calc(1em + 4.6875vw) 6.25vw;
  position: relative; }
  @media only screen and (min-width: 1024px) {
    .color-block {
      padding-left: 12.5vw; } }
  .color-block::after {
    background: #EAD637;
    content: '';
    height: 50vh;
    position: absolute;
    right: 0;
    width: 68.75vw;
    top: -1rem;
    z-index: -1; }
    @media only screen and (min-width: 768px) {
      .color-block::after {
        height: 100%;
        right: 6.25vw;
        top: 0;
        width: 75vw; } }
    @media only screen and (min-width: 1024px) {
      .color-block::after {
        width: 68.75vw; } }
  .color-block.-left {
    outline: 6.25vw solid var(--color-bg);
    outline-offset: -6.25vw;
    padding: calc(1em + 12.5vw) 6.25vw; }
    .color-block.-left::after {
      background: var(--color-bg);
      height: 100%;
      left: 0;
      right: auto;
      width: 18.75vw; }
  .color-block__headline {
    font-weight: 700; }
  .color-block__text {
    font-size: 1.25em; }
    @media only screen and (min-width: 768px) {
      .color-block__text {
        margin-left: 18.75vw;
        max-width: 62.5vw; } }
    @media only screen and (min-width: 1024px) {
      .color-block__text {
        margin-left: 18.75vw;
        max-width: 43.75vw; } }
    .-left .color-block__text {
      font-size: 1em; }
      @media only screen and (min-width: 768px) {
        .-left .color-block__text {
          margin-left: 18.75vw;
          max-width: 68.75vw; } }
      @media only screen and (min-width: 1024px) {
        .-left .color-block__text {
          margin-left: 18.75vw;
          max-width: 56.25vw; } }
    .color-block__text.-intro {
      font-weight: 700;
      font-size: 1.5em;
      margin-bottom: 2em;
      margin-left: 0; }
      @media only screen and (min-width: 768px) {
        .color-block__text.-intro {
          max-width: 68.75vw; }
          .-left .color-block__text.-intro {
            margin-left: 6.25vw; } }
      @media only screen and (min-width: 1024px) {
        .color-block__text.-intro {
          max-width: 56.25vw; } }
    .color-block__text + .color-block__text {
      margin-top: 1em; }

.open-letter {
  --color-highlight: #EAD637;
  align-items: flex-end;
  padding: calc(3.125vw + 3em) 6.25vw 6.25vw;
  position: relative; }
  @media only screen and (min-width: 1024px) {
    .open-letter {
      display: grid;
      grid-template: 'headline headline . . . .' auto '. intro intro intro . .' auto '. a . b b b' auto / 1fr 5fr 1fr 3fr 3fr 1fr; }
      .open-letter.text-block {
        margin-top: 0; } }
  @media only screen and (min-width: 1336px) {
    .open-letter::before {
      background-color: #EAD637;
      background-color: var(--color-highlight);
      content: '';
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      width: 0.25em; } }
  .open-letter__headline {
    line-height: 1.125;
    grid-area: headline;
    font-weight: 700;
    line-height: 1.125;
    margin: 0;
    position: relative;
    text-align: left; }
    .open-letter__headline::before, .open-letter__headline::after {
      content: '';
      display: block;
      height: 0;
      width: 0; }
    .open-letter__headline::before {
      margin-bottom: calc(-0.2125em + 0px); }
    .open-letter__headline::after {
      margin-top: calc(-0.1847222222em + 0px); }
    .open-letter__headline::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .open-letter__block, .open-letter__block-a, .open-letter__block-b, .open-letter__intro {
    margin: calc(1em + 1vw) 0; }
    .open-letter__block-a {
      font-size: 1.25em;
      grid-area: a; }
    .open-letter__block-b {
      grid-area: b; }
  .open-letter__intro {
    font-size: 1.25em;
    font-weight: 700;
    grid-area: intro;
    margin-top: calc(2em + 2vw); }
    @media only screen and (min-width: 1024px) {
      .open-letter__intro {
        font-size: 1.75em; } }

.proposals__intro {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: none; }

.proposals__list {
  clear: both;
  counter-reset: proposals;
  list-style: none;
  margin: 6.25vw 0 0;
  padding: 0;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .proposals__list {
      max-width: 87.5vw; } }
  @media only screen and (min-width: 1024px) {
    .proposals__list {
      max-width: 68.75vw;
      padding-right: 6.25vw; } }

.proposals__item {
  counter-increment: proposals;
  font-size: 1.25em;
  font-weight: 700;
  overflow: hidden; }
  @media only screen and (min-width: 1024px) {
    .proposals__item {
      font-size: 1.5em; } }
  .proposals__item::before {
    color: #e49242;
    content: counter(proposals);
    font-weight: 700;
    font-size: 2em;
    float: left;
    line-height: 1;
    transform: skew(-10deg);
    margin-right: 0.5em;
    font-variant-numeric: tabular-nums; }
  .proposals__item p {
    overflow: hidden; }
  .proposals__item + .proposals__item {
    margin-top: 1em; }

.proposals-bottom {
  --color-highlight: #aeea00;
  --color-bg: #ABE188; }

.sign {
  --color-bg: #e49242;
  background: #529247;
  position: relative;
  z-index: 300; }
  @media only screen and (min-width: 1024px) {
    .sign {
      display: grid;
      grid-template: 'header div div' auto / 0.9fr 2fr 0.9fr; } }
  .sign.color-block {
    padding-top: calc(2rem + 6.25vw); }
  .sign__block {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 6.25vw; }
    @media only screen and (min-width: 1024px) {
      .sign__block:last-of-type {
        padding-bottom: calc(6.25vw + 6rem); } }
  .sign__form {
    position: static; }
    .sign__form__group:nth-child(1) {
      background: rgba(171, 225, 136, 0.5); }
      @media only screen and (min-width: 1024px) {
        .sign__form__group:nth-child(1) {
          background: #abe188;
          padding-bottom: 3.125vw; } }
    .sign__form__group:nth-child(2) {
      background: #abe188;
      font-size: 1rem; }
      @media only screen and (min-width: 1024px) {
        .sign__form__group:nth-child(2) {
          background: rgba(171, 225, 136, 0.5);
          padding-top: 3.125vw; } }
      @media only screen and (max-width: 1023px) {
        .sign__form__group:nth-child(2) {
          padding-bottom: calc(3rem + 12.5vw); } }
    @media only screen and (max-width: 1023px) {
      .sign__form__group .form-item, .sign__form__group p {
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
        width: 100%; } }
  .sign__headline {
    letter-spacing: 0;
    text-transform: none; }
  .sign__subheadline {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px; }
    @media only screen and (min-width: 1024px) {
      .sign__subheadline {
        max-width: none;
        text-align: right; } }
  .sign__info {
    color: #ABE188;
    font-size: 0.75rem;
    margin: auto auto 0;
    max-width: 500px;
    padding-top: 1.5em; 
    float: right;}
    @media only screen and (min-width: 1024px) {
      .sign__info {
        margin-left: 0; } }
    .sign__info a {
      color: #fff; }
  .sign__submit {
    padding: 6.25vw;
    position: absolute;
    transform: translateY(-50%);
    width: 100%; }
    .sign__submit .button {
      width: 100%; }
    @media only screen and (min-width: 600px) {
      .sign__submit {
        bottom: 6.25vw;
        left: 50%;
        margin: 0;
        position: absolute;
        transform: translate(-50%, 50%);
        width: auto; } }

.sign-cta {
  background: #e49242;
  border-radius: 3px;
  bottom: 1rem;
  box-shadow: 10px 20px 30px -10px rgba(0, 0, 0, 0.2), -10px 20px 30px -10px rgba(0, 0, 0, 0.2);
  color: #241303;
  left: 1rem;
  font-weight: 700;
  line-height: 1.3;
  overflow: hidden;
  padding: calc(1rem + 1.5vw);
  position: fixed;
  right: 1rem;
  transition: transform 0.4s ease-out;
  z-index: 200; }
  .sign-cta:active {
    transform: translateY(2px); }
  @media only screen and (min-width: 600px) {
    .sign-cta {
      align-items: center;
      display: flex; }
      .sign-cta::before {
        background: #d98029;
        content: '';
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: scaleX(0);
        transform-origin: center right;
        transition: transform 0.4s ease-out;
        z-index: -1; }
      .sign-cta:hover::before {
        transform: scaleX(1); } }
  @media only screen and (min-width: 1336px) {
    .sign-cta {
      left: 6.25vw;
      right: 6.25vw; } }
  @media only screen and (min-width: 1600px) {
    .sign-cta {
      left: 18.75vw;
      right: 18.75vw; } }
  .sign-cta__text {
    flex: 1; }
    @media only screen and (min-width: 600px) {
      .sign-cta__text {
        padding-right: 6.25vw; } }
    .sign-cta__text a {
      color: #eaac6f;
      position: relative;
      z-index: 10; }
      .sign-cta__text a:hover {
        color: #e49242; }
  .sign-cta a.sign-cta__btn {
    color: inherit;
    display: block;
    flex: 0 0 auto;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-left: auto;
    margin-top: 1.5em;
    position: static;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 100%; }
    .sign-cta a.sign-cta__btn::after {
      content: '';
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 9; }
    @media only screen and (min-width: 600px) {
      .sign-cta a.sign-cta__btn {
        margin-top: 0;
        width: auto; }
        .sign-cta a.sign-cta__btn::before {
          background: #d98029;
          bottom: 0;
          color: transparent;
          content: 'Beyond Economics-As-Usual Report';
          padding: calc(1rem + 1.5vw);
          pointer-events: none;
          position: absolute;
          right: 0;
          top: 0;
          z-index: -1; } }

.task {
  --color-highlight: #e49242;
  --color-bg: #EAD637; }

.article, .plain {
  overflow: visible;
  transition-delay: 0.5s; }
  @media only screen and (min-width: 1336px) {
    .article, .plain {
      margin: 0 auto;
      padding: 0 9.0909090909%; } }
  .article__header, .plain__header {
    display: flex;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
    transform: scaleY(1.1) translateY(15px);
    transform-origin: center top;
    transition: opacity 0.6s 0.4s cubic-bezier(0, 0, 0.2, 1), transform 0.6s 0.4s cubic-bezier(0, 0, 0.2, 1); }
    .pace-done .article__header, .pace-done .plain__header {
      opacity: 1;
      transform: scaleY(1) translateY(0); }
    .article__header-wrap, .plain__header-wrap {
      margin: 0 0 0.5em;
      max-width: 36rem; }
  .article__tags, .plain__tags {
    margin: 0 0 2rem;
    order: -1; }
  .article__content, .plain__content {
    background: #FFFFFF;
    border-radius: 30px;
    box-sizing: content-box;
    margin-left: -20px;
    padding: 20px;
    position: relative;
    width: 100%; }
    .article__content:nth-child(2), .plain__content:nth-child(2) {
      transition-delay: 0.8s; }
    .article__content .img, .plain__content .img {
      margin: -20px 0 2rem; }
      .article__content .img:not(:first-child), .plain__content .img:not(:first-child) {
        margin-top: 2rem; }
    .article__content > p, .plain__content > p {
      max-width: 750px; }
  .article__intro, .plain__intro {
    background: transparent; }
  .article p:not([class]), .plain p:not([class]) {
    color: #181D27;
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 0 0 1em; }
    @media only screen and (min-width: 475px) {
      .article p:not([class]), .plain p:not([class]) {
        font-size: calc(1.25rem + 0.125vw); } }
  .article .img, .plain .img {
    background: #FAFAFA;
    position: relative; }
    .article .img::after, .plain .img::after {
      content: '';
      display: table;
      padding-bottom: 56.25%;
      width: 100%; }
    .article .img img, .plain .img img {
      height: 100%;
      left: 0;
      min-height: 100%;
      min-width: 100%;
      object-fit: cover;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity 0.6s cubic-bezier(0, 0, 0.2, 1);
      width: 100%; }
      .article .img img[data-scroll='in'], .plain .img img[data-scroll='in'] {
        opacity: 1; }
    .article .img.-full, .plain .img.-full {
      margin-right: -9.0909090909%;
      max-width: 109.090909091%; }
      @media only screen and (min-width: 400px) {
        .article .img.-full, .plain .img.-full {
          margin-right: -18.1818181818%;
          max-width: 118.181818182%; } }
      @media only screen and (min-width: 768px) {
        .article .img.-full, .plain .img.-full {
          margin-left: -9.0909090909%; } }

@media only screen and (min-width: 1024px) and (max-width: 1335px) {
  .article .img.-full, .plain .img.-full {
    margin-left: 0;
    max-width: 109.090909091%; } }

.wp-block-quote {
  margin: 3.25rem 0; }
  @media only screen and (min-width: 768px) {
    .article__content .wp-block-quote {
      margin-left: 9.0909090909%;
      margin-right: 9.0909090909%; } }
  .wp-block-quote p:not([class]) {
    color: #080708;
    font-size: 2rem; }
  .wp-block-quote cite {
    color: #181D27;
    display: flex;
    font-size: 1.125rem;
    font-style: normal; }
    .wp-block-quote cite::before {
      content: '';
      border-bottom: 1px solid;
      width: 3.125rem;
      opacity: 0.5;
      margin: auto 1em auto 0; }

.article__content h2 {
  margin: calc(3.25rem + 0.5vw) 0 0.5em;
  font-size: calc(2rem + 0.5vw);
  font-weight: 400; }

.article__content h3 {
  margin: calc(2rem + 0.25vw) 0 0.5em;
  font-size: calc(1.5rem + 0.25vw);
  font-weight: 400; }

.article__content h4 {
  margin: calc(1.75rem + 0.25vw) 0 0.5em;
  font-size: calc(1.25rem + 0.25vw);
  font-weight: 400; }

#subscription .text-muted {
  color: hsla(210, 10.8%, 14.5%, 0.8) !important;
}
.form-check-label {
  margin-left: .25em;
}

/*# sourceMappingURL=style.css.map */