.button {
  $offset: 5px;
  $rise: 5px;
  $down: 1px;

  border-radius: 3px;
  background: saturate($color-secondary, 10%);
  color: mix($color-headlines, $color-secondary, 90%);
  cursor: pointer;
  display: inline-block;
  font-weight: $fw-bold;
  font-size: 1.125rem;
  letter-spacing: 0.05em;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 0.2s ease, transform 0.2s ease;
  white-space: nowrap;
  will-change: transform;
  z-index: 2;

  @include break(hd) {
    font-size: 1.25rem;
  }

  &::before, &::after {
    content: '';
    @include absolute;
    transition: inherit;
  }

  &::before {
    background: darken($color-secondary, 10%);
    background: mix($color-secondary, $color-tertiary, 70%);
    transform: translate($offset, $offset);
    z-index: -1;
  }

  &:hover, &:focus {
    transform: translate(-$rise, -$rise);

    &::after {
      transform: translateY($rise, $rise);
    }

    &::before {
      transform: translate($offset + $rise, $offset + $rise);
    }
  }

  &:active {
    transform: translateY($down);

    &::after {
      transform: translateY(-$down);
    }

    &::before {
      transform: translate($offset, $offset - $down);
    }
  }

  span {
    background: inherit;
    display: block;
    padding: 1.125em 3em;
    position: relative;
    z-index: 1;
  }
}
