.form {
  &-item {
    display: flex;
    flex-direction: column-reverse;

    & + & {
      margin-top: 1em;
    }

    &.-radio {
      flex-direction: row;

      &:not(:first-child) {
        margin-top: 0.5em;
      }
    }
  }
}

.label {
  margin: 0 0 0.5em;
}
