textarea, input {
  transition: background 0.2s ease, box-shadow 0.2s ease;

  &:focus {
    box-shadow: 0 0 0 3px $color-secondary;
  }
}

textarea,
input[type=text],
input[type=email],
input[type=search],
input[type=password] {
  background: $color-base;
  border-radius: 3px;
  border: 2px solid;
  color: inherit;
  padding: 0.5em 1em;


  &::placeholder {
    color: currentColor;
    opacity: 0.5;
  }
}
