input[type='radio'] {
  border-radius: 50%;
  border: 2px solid;
  display: inline-block;
  flex: 0 0 1em;
  height: 1em;
  margin-top: 0.25em;
  margin-right: 1em;
  width: 1em;

  &:checked {
    background: currentColor;
  }
}
