// .tag {
//   color: $color-primary;
//   display: inline-block;
//   font-size: 0.75em;
//   font-weight: $fw-display;
//   letter-spacing: 0.05em;
//   text-transform: uppercase;

//   &-list {
//     display: flex;
//     flex-flow: row wrap;
//     list-style: none;
//     margin: 0;
//     padding: 0;
//   }

//   &-list:not(.-large) &.-date {
//     font-weight: $fw-text;

//     &::after {
//       opacity: 0.8;
//       display: inline-block;
//       content: '/';
//       margin-left: $spacing-x-small / 3;
//       margin-right: -$spacing-x-small / 3;
//     }
//   }

//   &:not(:last-child) {
//     margin-right: $spacing-x-small;

//     .-large & {
//       &::after {
//         color: $color-primary-light;
//         content: '/';
//         margin-left: $spacing-x-small;
//       }
//     }
//   }
// }
