<link rel="apple-touch-icon" sizes="180x180" href="/assets/ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/ico/favicon-16x16.png">
<link rel="manifest" href="/assets/ico/site.webmanifest">
<link rel="mask-icon" href="/assets/ico/safari-pinned-tab.svg" color="#00924b">
<link rel="shortcut icon" href="/assets/ico/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Economists for Future">
<meta name="application-name" content="Economists for Future">
<meta name="msapplication-TileColor" content="#00924b">
<meta name="msapplication-config" content="/assets/ico/browserconfig.xml">
<meta name="theme-color" content="#00924b">