Verify your signature

Dear {{ subscription.firstName }},

Thank you for signing our open letter!

In order to verify your support you have to click on the button below.
We will then publish your name in the lead up to the World Economic Forum (21-24 January).

{{ url('campaign_verification', {'token': token}) }}

If you would like to support us - please share our open letter among your networks either via social media or e-mail.

Here are our social media channels to share our content:

        Twitter: https://twitter.com/econ4future
        Facebook: https://facebook.com/econ4future
        Instagram: https://instagram.com/economists4future

And a short template to reach people via email:

        Dear colleagues,

        I invite you to support with me the open letter of Economists for Future because I believe economists have both a responsibility and an enormous opportunity to help overcome the climate crisis.
        E4F is an international student-led initiative calling on the economics community to raise its game and devise a more impactful contribution to tackling climate change. Read their open letter here, sign and share it among your networks.

        Thank you for your support!

Once we have published the signatures, as a community, we will turn our attention to taking concrete actions that aim to galvanise the economics community behind arresting climate change. If you want to be part of this, do get in touch.

Kindest regards,
Economists for Future
https://econ4future.org