<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <style type="text/css">
        @media screen and (max-device-width: 600px), screen and (max-width: 600px) {
            table.vb-container,
            table.vb-row {
                width: 95% !important;
            }
            .mobile-hide {
                display: none !important;
            }
            .mobile-textcenter {
                text-align: center !important;
            }
            .mobile-full {
                float: none !important;
                width: 100% !important;
                max-width: none !important;
                padding-right: 0 !important;
                padding-left: 0 !important;
            }
            img.mobile-full {
                width: 100% !important;
                max-width: none !important;
                height: auto !important;
            }
        }
    </style>
    <style type="text/css">
        #ko_textBlock_5 .links-color a,
        #ko_textBlock_5 .links-color a:link,
        #ko_textBlock_5 .links-color a:visited,
        #ko_textBlock_5 .links-color a:hover {
            color: #3f3f3f;
            color: #3f3f3f;
            text-decoration: underline;
        }
        #ko_textBlock_3 .links-color a,
        #ko_textBlock_3 .links-color a:link,
        #ko_textBlock_3 .links-color a:visited,
        #ko_textBlock_3 .links-color a:hover {
            color: #3f3f3f;
            color: #3f3f3f;
            text-decoration: underline;
        }
        #ko_footerBlock_2 .links-color a,
        #ko_footerBlock_2 .links-color a:link,
        #ko_footerBlock_2 .links-color a:visited,
        #ko_footerBlock_2 .links-color a:hover {
            color: #cccccc;
            color: #cccccc;
            text-decoration: underline;
        }
    </style>
</head>
<body style="Margin: 0; padding: 0; background-color: #ffffff; color: #919191;" vlink="#cccccc" text="#919191" bgcolor="#ffffff" alink="#cccccc">
<center>
    <!-- preheaderBlock -->
    <!-- /preheaderBlock -->
    <table class="vb-outer" style="mso-table-rspace: 0pt; mso-table-lspace: 0pt; background-color: #f2f2f2; min-width: 0;" id="ko_textBlock_5" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f2f2f2">
        <tbody>
        <tr>
            <td class="vb-outer" style="padding-left: 9px; padding-right: 9px; background-color: #f2f2f2; min-width: 0;" valign="top" bgcolor="#f2f2f2" align="center">
                <!--[if (gte mso 9)|(lte ie 8)]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="570">
                    <tr>
                        <td align="center" valign="top">
                <![endif]-->
                <div class="oldwebkit" style="max-width: 570px;">
                    <table class="vb-container fullpad" style="mso-table-rspace: 0pt; mso-table-lspace: 0pt; border-collapse: separate; border-spacing: 18px; padding-left: 0; padding-right: 0; width: 100%; max-width: 570px; background-color: #ffffff;" width="100%" cellspacing="18" cellpadding="0" border="0" bgcolor="#ffffff">
                        <tbody>
                        <tr>
                            <td class="long-text links-color" style="text-align: left; font-size: 13px; font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;" align="left">
                                <h3>Verify your signature</h3>
                                <p style="Margin: 1em 0px;">Dear {{ subscription.firstName }},</p>
                                <p style="Margin: 1em 0px; Margin-bottom: 0px;">Thank you for signing our open letter!</p>
                                <p style="Margin: 1em 0px; Margin-bottom: 0px;">In order to verify your support you have to click on the button below.<br>We will then publish your name in the lead up to the World Economic Forum (21-24 January).</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--[if (gte mso 9)|(lte ie 8)]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </td>
        </tr>
        </tbody>
    </table>
    <table class="vb-outer" style="mso-table-rspace: 0pt; mso-table-lspace: 0pt; background-color: #f2f2f2; min-width: 0;" id="ko_buttonBlock_6" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f2f2f2">
        <tbody>
        <tr>
            <td class="vb-outer" style="padding-left: 9px; padding-right: 9px; background-color: #f2f2f2; min-width: 0;" valign="top" bgcolor="#f2f2f2" align="center">
                <!--[if (gte mso 9)|(lte ie 8)]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="570">
                    <tr>
                        <td align="center" valign="top">
                <![endif]-->
                <div class="oldwebkit" style="max-width: 570px;">
                    <table class="vb-container fullpad" style="mso-table-rspace: 0pt; mso-table-lspace: 0pt; border-collapse: separate; border-spacing: 18px; padding-left: 0; padding-right: 0; width: 100%; max-width: 570px; background-color: #ffffff;" width="100%" cellspacing="18" cellpadding="0" border="0" bgcolor="#ffffff">
                        <tbody>
                        <tr>
                            <td style="background-color: #ffffff;" valign="top" bgcolor="#ffffff" align="center">
                                <table class="mobile-full" cellspacing="0" cellpadding="0" border="0" align="center" style="mso-table-rspace: 0pt; mso-table-lspace: 0pt;">
                                    <tbody>
                                    <tr>
                                        <td style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #ffffff; font-weight: normal; padding-left: 14px; padding-right: 14px; background-color: #00924b; border-radius: 16px;" width="auto" valign="middle" height="50" bgcolor="#00924b" align="center">
                                            <a target="_new" href="{{ url('campaign_verification', {'token': token}) }}" style="text-decoration: none; color: #ffffff; font-weight: normal;">Verify signature</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--[if (gte mso 9)|(lte ie 8)]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </td>
        </tr>
        </tbody>
    </table>
    <table class="vb-outer" style="mso-table-rspace: 0pt; mso-table-lspace: 0pt; background-color: #f2f2f2; min-width: 0;" id="ko_textBlock_3" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f2f2f2">
        <tbody>
        <tr>
            <td class="vb-outer" style="padding-left: 9px; padding-right: 9px; background-color: #f2f2f2; min-width: 0;" valign="top" bgcolor="#f2f2f2" align="center">
                <!--[if (gte mso 9)|(lte ie 8)]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="570">
                    <tr>
                        <td align="center" valign="top">
                <![endif]-->
                <div class="oldwebkit" style="max-width: 570px;">
                    <table class="vb-container fullpad" style="mso-table-rspace: 0pt; mso-table-lspace: 0pt; border-collapse: separate; border-spacing: 18px; padding-left: 0; padding-right: 0; width: 100%; max-width: 570px; background-color: #ffffff;" width="100%" cellspacing="18" cellpadding="0" border="0" bgcolor="#ffffff">
                        <tbody>
                        <tr>
                            <td class="long-text links-color" style="text-align: left; font-size: 13px; font-family: Arial, Helvetica, sans-serif; color: #3f3f3f;" align="left">
                                <p style="Margin: 1em 0px; Margin-top: 0px;">If you would like to support us - please share our open letter among your networks either via social media or e-mail. <br></p>
                                <p style="Margin: 1em 0px;">Here are our <strong>social media channels</strong> to share our content:</p>
                                <blockquote>
                                    <p style="Margin: 1em 0px; Margin-bottom: 0px; Margin-top: 0px;">Twitter: <a href="https://twitter.com/econ4future" style="color: #3f3f3f; color: #3f3f3f; text-decoration: underline;">https://twitter.com/econ4future</a><br>Facebook:<a href=" https://facebook.com/econ4future" style="color: #3f3f3f; color: #3f3f3f; text-decoration: underline;"> https://facebook.com/econ4future</a><br>Instagram: <a href="https://instagram.com/economists4future" style="color: #3f3f3f; color: #3f3f3f; text-decoration: underline;">https://instagram.com/economists4future</a><br></p>
                                </blockquote>
                                <p style="Margin: 1em 0px;">And a short<strong> template</strong> to reach people via email:</p>
                                <blockquote>
                                    <p style="Margin: 1em 0px; Margin-top: 0px;">Dear colleagues,<br><br>I invite you to support with me the open letter of Economists for Future because I believe economists have both a responsibility and an enormous opportunity to help overcome the climate crisis. <br>E4F is an international student-led initiative calling on the economics community to raise its game and devise a more impactful contribution to tackling climate change. Read their open letter here, sign and share it among your networks. <br></p>
                                    <p style="Margin: 1em 0px; Margin-bottom: 0px;">Thank you for your support!</p>
                                </blockquote>
                                <p style="Margin: 1em 0px;">Once we have published the signatures, as a community, we will turn our attention to taking concrete actions that aim to galvanise the economics community behind arresting climate change. If you want to be part of this, do get in <a href="mailto:info@econ4future.org" style="color: #3f3f3f; color: #3f3f3f; text-decoration: underline;">touch</a>.<br></p>
                                <p style="Margin: 1em 0px; Margin-bottom: 0px;">Kindest regards,<br>Economists for Future</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--[if (gte mso 9)|(lte ie 8)]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </td>
        </tr>
        </tbody>
    </table>
</center>
</body>
</html>