{% extends 'base.html.twig' %}

{% block content %}
	<header class="hero">
		<div class="hero__wrap">
			<div class="container hero__container">
				<h1 class="hero__title">For an economics that takes<br/>the climate science seriously.</h1>
				<p class="hero__subtitle">"Say no to complacency. Sign for change"</p>
			</div>
		</div>
	</header>
	<section class="sign text-block" id="sign">
		<header class="sign__header">
			<h2 class="visually-hidden">Sign Now</h2>
		</header>
		<div>
			{% for error in errors %}
				<div class="row">
					<div class="col alert alert-danger">{{ error }}</div>
				</div>

			{% endfor %}

			{{ form_start(form) }}
			<div>
				This open letter is <b>open to everyone to sign</b>, not just economists!</br>
				You can find a pdf of the open letter <a href="https://kutt.it/e4f-open-letter" style="color: #062c33">here</a>. </br>
				<br/>
				Signatures of this form will be published at the end of this campaign. <br/> If you work in academia, please enter your official email address of the university or research institution, as this is the only way we can verify and activate your support.
				<br/>For more information on the privacy policy refer <a href="https://econ4future.org/privacy-policy" style="color: #062c33">here</a>.
				<br/>
				If you have any questions please contact <a href="mailto:info@econ4future.org?subject=Question regarding the signature form" style="color: #062c33">info@econ4future.org</a>.</br>
				<br/><br/>
			</div>
			<div class="row mt-2">
				{{ form_widget(form.title, {'attr': {'class': 'form-control-lg col'}}) }}
				{{ form_widget(form.firstName, {'attr': {'class': 'form-control-lg col'}}) }}
				{{ form_widget(form.lastName, {'attr': {'class': 'form-control-lg col'}}) }}
			</div>
			<div class="row mt-2">
				<div class="col">{{ form_errors(form.title) }}</div>
				<div class="col">{{ form_errors(form.firstName) }}</div>
				<div class="col">{{ form_errors(form.lastName) }}</div>
			</div>
			<div class="row mt-2">
				{{ form_widget(form.emailAddress, {'attr': {'class': 'form-control-lg col'}}) }}
			</div>
			<div class="row mt-1 px-1 text-dark">
				{% trans %}form.label.emailAddress_info{% endtrans %}
			</div>
			<div class="row mt-2">
				<div class="col">{{ form_errors(form.emailAddress) }}</div>
			</div>
			<div class="row mt-2">
				{{ form_widget(form.city, {'attr': {'class': 'form-control-lg col'}}) }}
				{{ form_widget(form.country, {'attr': {'class': 'form-control-lg col'}}) }}
			</div>
			<div class="row mt-1 px-1 text-dark">
				<div class="col-md-6 offset-md-6">{% trans %}form.label.country_info{% endtrans %}</div>
			</div>
			<div class="row mt-2">
				<div class="col">{{ form_errors(form.city) }}</div>
				<div class="col">{{ form_errors(form.country) }}</div>
			</div>

			<div class="row mt-2">
				{{ form_label(form.capacityOfSigning) }}<br/>{{ form_widget(form.capacityOfSigning, {'attr': {'class': 'form-control-lg col'}}) }}<br/>{{ form_errors(form.capacityOfSigning) }}
			</div>

			<fieldset id="individual-fields" class="border p-2 mt-5 d-none">
				<legend class="w-auto">{% trans %}form.legend.individual{% endtrans %}</legend>
				<div class="row mt-2">
					<div class="col">{{ form_row(form.currentStatus) }}</div>
				</div>
				<div class="row mt-2">
					<div class="col">{{ form_row(form.currentStatusOther, {'attr': {'class': 'd-none'}}) }}</div>
				</div>
				<div class="row mt-2">
					<div class="col">{{ form_row(form.areaOfStudyWork) }}</div>
				</div>
				<div class="row mt-2">
					<div class="col">{{ form_row(form.areaOfStudyWorkOther, {'attr': {'class': 'd-none'}}) }}</div>
				</div>
			</fieldset>

			<fieldset id="organization-fields" class="border p-2 mt-5 d-none">
				<legend class="w-auto">{% trans %}form.legend.organization{% endtrans %}</legend>
				<div class="row mt-2">
					<div class="col">{{ form_row(form.professionalOrganizationName) }}</div>
				</div>
				<div class="row mt-2">
					<div class="col">{{ form_row(form.professionalOrganizationDescription) }}</div>
				</div>
				<div class="row mt-2">
					<div class="col">{{ form_row(form.professionalOrganizationDescriptionOther, {'attr': {'class': 'd-none'}}) }}</div>
				</div>
			</fieldset>

			<div class="row mt-5">
				<div class="col">{{ form_row(form.kindOfInvolvement) }}</div>
			</div>
			<div class="row mt-5">
				<div class="col">{{ form_row(form.isDataPolicyAccepted,
						{'label': 'form.isDataPolicyLabel'}) }}
				</div>
			</div>

			<div class="row mt-5">
				<div class="col">{{ form_row(form.submit) }}</div>
			</div>
			{{ form_end(form) }}
		</div>
		<div></div>
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		var capacityOfSigning = $('input[type=radio][name="subscription[capacityOfSigning]"]');
		var individualFieldset = $('#individual-fields');
		var organizationFieldset = $('#organization-fields');
		var requiredIndividualFields = ['input[type=radio][name="subscription[currentStatus]"]', 'input[type=radio][name="subscription[areaOfStudyWork]"]', 'input[type=text][name="subscription[individualOrganizationName]"]', 'input[type=radio][name="subscription[capacityOfSigning]"]',];
		var requiredOrganisationFields = ['input[type=radio][name="subscription[currentStatus]"]', 'input[type=radio][name="subscription[currentStatus]"]',];

		var enableIndevidualMode = function () {
			individualFieldset.removeClass('d-none');
			organizationFieldset.addClass('d-none');
			$.each(requiredIndividualFields, function ($name) {
				$('#' + $name).addClass('required');
			});
			$.each(requiredOrganisationFields, function ($name) {
				$('#' + $name).removeClass('required');
			});
		}

		var enableOrganisationMode = function () {
			organizationFieldset.removeClass('d-none');
			individualFieldset.addClass('d-none');
			$.each(requiredIndividualFields, function ($name) {
				$('#' + $name).removeClass('required');
			});
			$.each(requiredOrganisationFields, function ($name) {
				$('#' + $name).addClass('required');
			});
		}

		if (capacityOfSigning.val() === 'individual') {
			enableIndevidualMode();
		}
		if (capacityOfSigning.val() === 'organisation') {
			enableOrganisationMode();
		}
		capacityOfSigning.change(function (event) {
			var value = event.currentTarget.value;
			if ('individual' === value) {
				enableIndevidualMode();
			} else if ('organization' === value) {
				enableOrganisationMode();
			} else {

				individualFieldset.addClass('d-none');
				organizationFieldset.addClass('d-none');
			}
		});

		var fieldsWithOther = ['currentStatus', 'areaOfStudyWork', 'individualOrganizationDescription', 'professionalOrganizationDescription'];
		fieldsWithOther.forEach(function (fieldName) {
			if ($('input[type=radio][name="subscription[' + fieldName + ']"]').val() === 'other') {
				$('input[type=text][name="subscription[' + fieldName + 'Other]"]').removeClass('d-none').addClass('required');
			} else {
				$('input[type=text][name="subscription[' + fieldName + 'Other]"]').addClass('d-none').removeClass('required');
			}

			$('input[type=radio][name="subscription[' + fieldName + ']"]').change(function (event) {
				if (event.currentTarget.value === 'other') {
					$('input[type=text][name="subscription[' + fieldName + 'Other]"]').removeClass('d-none').addClass('required');
				} else {
					$('input[type=text][name="subscription[' + fieldName + 'Other]"]').addClass('d-none').removeClass('required');
				}
			});
		});
	</script>
{% endblock %}
