{% extends 'base.html.twig' %}

{% block content %}
	<header class="hero">
    <div class="pt-5">
        <h3 class="text-center">
            {% trans %}campaign.successful_verified.title{% endtrans %}
        </h3>
    </div>
	</header>
{% endblock %}