{% set inRow = inRow|default(false) %}
<div class="teasers section">
	<div class="row">
	{% for teaser in block.articles %}
		{% set collg = collg|default(block.collg|default(6)) %}
		{% set colmd = colmd|default(block.colmd|default(6)) %}
		{% set col = col|default(block.col|default(6)) %}
		<!--- Open article teasers -->
		{% include 'includes/blocks/inner/grid_item_open.html.twig' %}
			<div class="single-teaser">
				{% include 'includes/blocks/inner/teaser_block.html.twig' with {block: teaser} %}
			</div>
		</div>
		<!--- Closing article teasers -->
	{% endfor %}
	</div>
</div>