{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_open.html.twig' %}
{% endif %}

	{% set title = title|default(block.title|default()) %}
	{% set url = url|default(block.url|default()) %}
	{% set size = size|default(block.title_tag_size|default(3)) %}
	{% set class = class|default(block.title_tag_class|default(3)) %}
	<h{{size}}{% if class is not empty %} class="{{ class }}"{% endif %}>{{title}}</h{{size}}>
	{% set metaLocaleParts = app.request.locale|split('_') %}
	{% set metaLanguage = metaLocaleParts[0] %}
	<form class="form container">
		<div class="form-group row">
			<div class="offset-1 col-8">
				<label for="inputEmail">{{ block.form_label }}</label>
				<input type="email" class="form-control flex-fill mr-0 mr-2 mb-3 mb-0" id="newsletter-mail">
			</div>
			<div class="col-3">
				<p id="newsletterHelp" class="text-danger" style="display: none;"></p>
			</div>
		</div>

		<div class="form-group row">
			<div class="offset-1 col-1">
				<input type="checkbox" class="form-control" id="data-policy" required>
			</div>			
			<div class="col-6">
				<label for="inputEmail">{{ block.form_data_policy_label|raw }}</label>
			</div>
			<div class="col-3">
				<small id="dataPolicyHelp" class="text-danger" style="display: none;"></small>
			</div>
		</div>
		<div class="form-group row">
			<div class="offset-1 col-8">
				<a
					type="submit"
					class="btn btn-primary mx-auto sendSubscription"
					data-id="newsletter-mail" data-token="{{ csrf_token('newsletter-mail') }}"
					data-url="{{ path('campaign_subscription')}}">
					{{ block.button_label }}
				</a>
			</div>
		</div>
	</form>
{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_close.html.twig' %}
{% endif %}	
