{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_open.html.twig' %}
{% endif %}
	{% set title = title|default(block.title|default()) %}
	{% set url = url|default(block.url|default()) %}
	{% set size = size|default(block.title_tag_size|default(3)) %}
	{% set class = class|default(block.title_tag_class|default(3)) %}
	{% include 'includes/blocks/inner/title_block.html.twig' with {text: title, url: url, size: size, class: class} %}
{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_close.html.twig' %}
{% endif %}