{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_open.html.twig' %}
{% endif %}
	<div class="card">
		<div class="card-header">{{ writer.title}}</div>
		<div class="card-body">
			<div class="card-text">
				{{ writer.description|raw }}
			</div>
		</div>
		<div class="card-footer"></div>
	</div>
{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_close.html.twig' %}
{% endif %}	
