{% set ratio = block.ratio|default('21by9') %}
{% set src = block.src|default() %}
{% set autoplay = block.autoplay|default(false) %}
{% set loop= block.loop|default(false) %}
{% if loop and autoplay %}
    {% set attr = 'loop=1&autoplay=1' %}
{% elseif loop %}
    {% set attr = 'loop=1' %}
{% elseif autoplay %}
    {% set attr = '&autoplay=1' %}
{% else %}
    {% set attr = '' %}
{% endif %}
{# {% set src = src ~ '?' ~ attr %} #}
<div class="embed-responsive embed-responsive-{{ ratio }}">
    <iframe  class="embed-responsive-item" src="{{ src }}" frameborder="0" type="text/html" allowfullscreen></iframe>
</div>
