<footer class="footer-basic">
    <div class="social container">
        <div class="row align-items-center">
            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="/terms" title="Terms">
                            Terms
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/privacy-policy" title="Privacy Policy">
                            Privacy Policy
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col social">
                <a href="mailto:info@econ4future.org">
                    <i class="icon ion-android-mail">
                    </i>
                </a>
                <a href="https://www.instagram.com/economists4future/">
                    <i class="icon ion-social-instagram">
                    </i>
                </a>
                <a href="https://www.linkedin.com/company/economists-for-future">
                    <i class="icon ion-social-linkedin">
                    </i>
                </a>
                <a href="https://twitter.com/econ4future">
                    <i class="icon ion-social-twitter">
                    </i>
                </a>
                <a href="https://facebook.com/econ4future">
                    <i class="icon ion-social-facebook">
                    </i>
                </a>
            </div>
        </div>
    </div>
    <p class="copyright">{% trans %}main.title{% endtrans %} © 2019</p>
</footer>
