{% set current_path = app.request.get('_route') %}
<nav class="page-nav"><a class="page-nav__logo" href="/"><img src="{{ asset('assets/img/econ4future-black_white.png') }}" /></a>
    <ul class="page-nav__list">
        {% for item in sulu_navigation_root_tree('main') %}
            {% set item_path=sulu_content_path(item.url) %}
            <li class="page-nav__item"><a class="page-nav__link -highlight" href="{{ item_path }}" title="{{ item.title }}">{{ item.title }}</a></li>
        {% endfor %}
        {% set item_path=path('campaign_subscription') %}
        <li class="page-nav__item"><a class="page-nav__link" href="/#open-letter">Open Letter</a></li>
        <li class="page-nav__item"><a class="page-nav__link" href="/#about-us">About Us</a></li>
        <li class="page-nav__item">
			<a class="page-nav__link -highlight" href="{{ item_path }}" title="Sign the open letter">
				Sign now
			</a>
        </li>
        <li class="page-nav__item"><a class="page-nav__link" href="/signatures" title="Signatures">Signatures</a></li>
    </ul>
    <ul class="page-nav__list -social" style="margin: 0 px;">
        <li class="page-nav__item"><a class="page-nav__link" href="{{ twitter_url }}">
                <ion-icon name="logo-twitter"></ion-icon>
            </a>
        </li>
        <li class="page-nav__item"><a class="page-nav__link" href="{{ facebook_url }}">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>
        </li>
        <li class="page-nav__item"><a class="page-nav__link" href="{{ instagram_url }}">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
        </li>
        <li class="page-nav__item"><a class="page-nav__link" href="{{ linkedin_url }}">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a>
        </li>
    </ul>
</nav>
