{% set mainTitle = content.main_title|default('Beyond Economics-As-Usual')%}
{% set subTitle = content.sub_title|default('Treating a crisis like a crisis')%}
{% set subSubTitle = content.subsub_title|default('Our new report just got published! <br/> #Economists4Future')%}

{% set ctaButtonLabel = content.cta_button_label|default('Download it here!') %}
{% set ctaButtonLink = content.cta_button_link|default('https://drive.google.com/file/d/1fNTyKnpirHyjDagXyCBX1-K2h3CXls-V/view?usp=sharing') %}

	<header class="hero">
		<div class="hero__wrap">
			<div class="container hero__container">
				<h1 class="hero__title">{{ mainTitle|raw }}</h1>
				<p class="hero__subtitle">{{ subTitle|raw }}</p>
				<p class="hero__subsubtitle">{{subSubTitle|raw}}</p>
			</div>
		</div>
	</header>
	<div class="hero-button">
		<a class="button" href="{{ ctaButtonLink }}" download>
			<span>{{ ctaButtonLabel|raw }}</span>
		</a>
	</div>